# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Secrets
.env

# Model
zekebrmn/dcgb

# HuggingFace cache
~/.cache/huggingface/
*.bin

# Logs, outputs
*.log
*.tmp

# OS + editor files
.DS_Store
*.swp

